*~
~*
*.diff
*.patch
*.bak
.DS_Store
*.swp
*.swo
*.log
*.log.*

/.vscode/

node_modules/
.sass-cache/

/.bundle/
/vendor/bundle
*.gem

yarn.lock
package-lock.json
Gemfile.lock

_site/
.jekyll-metadata
.jekyll-cache/
assets/old_apple-touch-icon.png
assets/old2_apple-touch-icon.png

_posts/2025-2-15-Thermal_Camera.md
_posts/2025-3-4-Distributed_Computing.md
_posts/2025-4-4-Blimp_Project_Circuit_Board.md
_posts/2025-4-25-Distributed_Computing.md
